*{
    font-family: 'Montserrat', sans-serif;
    background-color: black;
    margin: d;
    color: white;
    overflow: hidden;
}
.main{
    display: flex;
    height: 100vh;
    padding: 0.5rem;

}
.sidebar{
    background-color:rgb(0, 0, 0);
    width: 340px;
    border-radius: 1rem;   /*1rem=16px*/
    margin-right: 0.5rem;
    
}
.main-content{
    flex: 1;
    border-radius: 1rem;   /*1rem=16px*/
    overflow: auto;
    background-color: #121212;
    padding: 0 1.5rem 0 1.5rem;
}
.music-player{
    background-color: yellow;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 83px;
    background-color:black;
    display: flex;
    justify-content: space-between;
    align-items:center ;
}
a{
    text-decoration: none;
    color: white;
    background-color: #121212;
}
i{
    background-color: #121212;
}
.nav{
    background-color: #121212;  
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100px;
    padding: 8px 12px;
    
}
.navoption{
    background-color:#121212 ;
    line-height: 2.5rem;
    opacity: 0.7;
}
.navoption i{
    font-size:  1.25rem;
}
.navoption a{
    font-size: 1rem;
    margin-left: 1.2rem;
}
.navoption:hover{
    opacity: 1;
}
.library{
    background-color:#121212 ;
    border-radius: 1rem;
    height: 100%;
    margin-top:0.5rem;
    padding: 0.5rem 0.75rem;
}
.option{
    background-color: #121212;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 1rem 1rem 1rem 1rem;
}
.lib-option a {
    background-color: #121212;
    align-items: center;
}
.lib-option img{
    background-color: #121212;
    height: 1.25rem;
    width: 1.25rem;
    justify-items: left;
}
.icons{
    background-color: #121212;
    font-size: 1.25rem;
   
    display: flex;
}
.icons i{
    opacity: 0.5;
    margin-right: 0.5rem;
}
.icons i:hover{
    opacity: 1;
}
.lib-box{
    background-color: #121212;
    
}
.lib-box1{
    background-color: #121212;
}
.box{
    height: 10rem;
    background-color: #232323; 
    border-radius: 1rem;   
    margin: 0.75rem 0 0.75rem 0;
    padding: 0.5rem 1rem;
}
.box-p1{
    background-color: #232323;    
    font-size: 1.2rem;
    font-weight: 500;
}
.box-p2{
    background-color: #232323;   
    font-size: 0.88rem;
    opacity: 0.8;
}
.badge{
    background-color: #fff;
    border: none;
    border-radius: 100px;
    padding: 0.25rem 1rem;
    font-weight: 700;
    color: black;
    margin-top: 0.5rem;
    height: 2rem;
    width: fit-content;
}
.box1{
    height: 13rem;
    background-color: #232323; 
    border-radius: 1rem;   
    margin: 0.75rem 0 0.75rem 0;
    padding: 0.5rem 1rem;
}
.box-p3{
    background-color: #232323;    
    font-size: 1.2rem;
    font-weight: 500;
}
.box-p4{
    background-color: #232323;   
    font-size: 0.88rem;
    opacity: 0.8;
}
.badge1{
    background-color: #fff;
    border: none;
    border-radius: 100px;
    padding: 0.25rem 1rem;
    font-weight: 700;
    color: black;
    margin-top: 0.5rem;
    height: 2rem;
    width: fit-content;
}
.sticky-nav{
    z-index: 10;
    position: sticky;
    align-items: center;
    background-color: #121212;
    display: flex;
    top: 0;
    justify-content: space-between;
    padding: 0.5rem 0rem 1rem 0rem;
}
.sticky-nav-icons{
    position: static;
    background-color: #121212;
    margin-top: 1rem  ;
    margin-left: 0.7rem;
    
}
.sticky-nav-options{
    position: static;
    background-color: #121212;
    margin-top:0.5rem ;
    margin-right: 0.7rem;
    align-items: center;
    display: flex;
}
.badge2{
    position: static;
    background-color: rgb(117, 114, 114);
    border: none;
    border-radius: 100px;
    padding: 0.25rem 1rem;
    font-weight: 700;
    color: black;
    margin-top: 0.5rem ;
    margin-right: 0.6rem;
    height: 2rem;
    width: fit-content;
}
.badge3{
    position: static;
    background-color: rgb(0, 0, 0);
    border: none;
    border-radius: 100px;
    padding: 0.25rem 1rem;
    font-weight: 700;
    color:white;
    margin-top: 0.5rem ;
    margin-right: 0.8rem;
    height: 2rem;
    width: fit-content;
}
.sticky-nav-options i{
    margin-right: 0.9rem;
}
@media (max-width:1000px){
    .badge2,.hide{
        display: none;
    }
}
.card h2{
    background-color: #121212;
    color: #fff;
    font-weight: 700;
}
.card-container{
    background-color: #232323;
    width: 200px;
    height: 300px;
    border-radius: 1rem;
    padding: 0.6rem;
    margin-left: 1.5rem;
    margin-bottom: 1rem;
}
.card{
    background-color: #121212 ;
    padding:1rem;
    border: none;
    margin-bottom:3rem;
}
.card p{
    background-color: #232323;
    line-height: 1.1;
    padding: 0 0 0 0.5rem;
}
.card-title{
    font-weight: 800;
    align-items:baseline;
    margin-bottom:0.9rem ;
}
.card-info{
    opacity: 0.6;
    font-size: 1rem;
}
.card-img{
    border-radius: 0.5rem;
    background-color: #232323;
    margin-bottom: 1rem;
}
.card-wrapped{
    background-color: #121212;
    display: flex;
    flex-wrap: wrap;
    margin-top: 1rem;
}
.footer{
    background-color: #121212;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.line{
    background-color: #121212;
    width:70%;
    height:30% ;
    border-top: 1px solid white;
    opacity: 0.4;
}
.album{
    width: 30%;
}
.player-controls{
    display: flex;
    justify-content:center;
    align-items: center;
    margin-top: 0.3rem;
    margin-bottom: 0.6rem;
}
.player{
    width:50%

}
.controls{
    width: 10%;
}
.player-control-icons{
    height: 1rem;
    margin-left: 2rem;
    opacity: 0.4;
}
.player-control-icons:hover{
    opacity: 1;
}
.playback-bar{
    display: flex;
    justify-content: center;
    align-items: center;

}
.progress-bar{
    width: 70%;
    appearance:none;
    background-color: transparent;
    cursor: pointer;
}
.progress-bar::-webkit-slider-runnable-track{
    background-color: #fff;
    border-radius: 100px;
    height: 0.2rem;
}
.progress-bar::-webkit-slider-thumb{
    appearance: none;
    height:1rem ;
    width: 1rem;
    background-color: #1bd760;
    border-radius: 50%;
    margin-top:-6px;
}
.progress-bar::-moz-range-thumb {
    appearance: none;
    height: 1rem;
    width: 1rem;
    background-color: #1bd760;
    border-radius: 50%;
    margin-top: -4px;
  }
  
.progress-bar::-ms-thumb {
    appearance: none;
    height: 1rem;
    width: 1rem;
    background-color: #1bd760;
    border-radius: 50%;
    margin-top: -4px;
  }
.total-time{
    font-size: 0.9rem;
    margin-left:0.6rem ;
  }
.current-time{
    font-size: 0.9rem;
    margin-right:0.6rem ;
}
.album{
    display: flex;
    margin: 1rem;
}
.artist-name{
    margin-top: 2.3rem;
    margin-left: -4rem;
    opacity: 0.6;
}
.song-name{
    height: 1.3rem;
    margin-top: 0.6rem;
    margin-left: 1rem;
}
.artist-name:hover{
    opacity: 1;
    text-decoration: underline;
}
.song-name:hover{
    text-decoration: underline;
}
.album-icons{
    margin-left:7rem;
    align-items: center;
    justify-content: center;
    margin-top: 0.5rem;
   
}
.windows-icons:hover{
    opacity: 1;
}
.windows-icons{
    height: 2.8rem;
    width: 2.1rem;
    margin-left: 1rem;
    opacity: 0.4;
}
.heart-icon{
    opacity: 0.3;
}
.heart-icon:hover{
    opacity: 1;
}
.player-icon3:hover{
    height: 3rem;
}
.control-icon{
    height: 3rem;
    display: flex;
    margin-right: 4rem;
}
.volumn-bar{
    width: 7rem;
    appearance:none;
    background-color: transparent;
    cursor: pointer;
}
.volumn-bar::-webkit-slider-runnable-track{
    background-color: #fff;
    border-radius: 100px;
    height: 0.2rem;
}
.volumn-bar::-webkit-slider-thumb{
    appearance: none;
    height:1rem ;
    width: 1rem;
    background-color: #1bd760;
    border-radius: 50%;
    margin-top:-6px;
}